In [1]:
import numpy as np 
import pandas as pd

In [2]:
goodread_df = pd.read_csv('books.csv', error_bad_lines = False)
goodread_df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.78E+12,eng,652,2095690,27591,9/16/06,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.78E+12,eng,870,2153167,29221,9/1/04,Scholastic Inc.,NaN
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78E+12,eng,352,6333,244,11/1/03,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.78E+12,eng,435,2339585,36325,5/1/04,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.78E+12,eng,2690,41428,164,9/13/04,Scholastic,NaN

In [3]:
#check language codes
language_sum = goodread_df.language_code.value_counts()
print(language_sum)

eng         8908
en-US       1408
spa          218
en-GB        214
fre          144
ger           99
jpn           46
mul           19
zho           14
grc           11
por           10
en-CA          7
ita            5
9.78E+12       4
lat            3
enm            3
rus            2
swe            2
gla            1
srp            1
ara            1
glg            1
wel            1
tur            1
nl             1
ale            1
msa            1
nor            1
Name: language_code, dtype: int64

In [4]:
col_names = list(goodread_df.columns)
print(col_names)

['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13', 'language_code', '  num_pages', 'ratings_count', 'text_reviews_count', 'publication_date', 'publisher', 'Unnamed: 12']

In [5]:
goodread_df = goodread_df.rename(columns={"  num_pages": "num_pages"})

In [6]:
col_names = list(goodread_df.columns)
print(col_names)

['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13', 'language_code', 'num_pages', 'ratings_count', 'text_reviews_count', 'publication_date', 'publisher', 'Unnamed: 12']

In [7]:
#check authors
authors_sum = goodread_df.authors.value_counts()
print(authors_sum)

P.G. Wodehouse                                     40
Stephen King                                       40
Rumiko Takahashi                                   39
Orson Scott Card                                   35
Agatha Christie                                    33
                                                   ..
Aidan Hartley                                       1
Sophocles/Bernard Knox/Cynthia Brantley Johnson     1
Nancy Conrad/Howard A. Klausner/Buzz Aldrin         1
Euripides                                           1
Rudolph W. Giuliani                                 1
Name: authors, Length: 6643, dtype: int64

In [8]:
#check publishers
publishers_sum = goodread_df.publisher.value_counts()
print(publishers_sum)

Vintage                           318
Penguin Books                     261
Penguin Classics                  184
Mariner Books                     150
Ballantine Books                  144
                                 ...
MJF Books                           1
Greenwood Press                     1
Prentice Hall PTR                   1
Xulon Press                         1
HarperCollins Publishers  Inc.      1
Name: publisher, Length: 2294, dtype: int64

In [9]:
#check titles
titles_sum = goodread_df.title.value_counts()
print(titles_sum)

The Brothers Karamazov                                             9
The Iliad                                                          9
'Salem's Lot                                                       8
The Odyssey                                                        8
Gulliver's Travels                                                 8
                                                                  ..
A Treasury of Dick and Jane and Friends (Dick and Jane)            1
Pedro Paramo / El Llano En Llamas                                  1
The Big Bad Wolf                                                   1
The Voyage of the “Dawn Treader” (The Chronicles of Narnia  #3)    1
Carry On  Jeeves (Jeeves  #3)                                      1
Name: title, Length: 10352, dtype: int64

In [10]:
#check ISBNs
isbn_sum = goodread_df.isbn.value_counts()
print(isbn_sum)

3.58          2
140259104     1
415278414     1
521617359     1
141185139     1
             ..
393925870     1
006114004X    1
321430840     1
862031435     1
787982377     1
Name: isbn, Length: 11126, dtype: int64

In [11]:
#check unnamed column
extra_col_sum = goodread_df["Unnamed: 12"].value_counts()
print(extra_col_sum)

Harvard University Press       1
Brown Son & Ferguson Ltd.      1
Huntington House Publishers    1
Cold Spring Press              1
Name: Unnamed: 12, dtype: int64

In [12]:
"""
bookIDs where author and average_rating need to be merged
12224
16914
22128
34889
"""

'\nbookIDs where author and average_rating need to be merged\n12224\n16914\n22128\n34889\n'

In [13]:
#update goodread_df rows that are out of alignment

In [14]:
#create a new df with rows out of alignment
#goodread_df[(goodread_df.num_pages == 'eng') | (goodread_df.num_pages == 'en-US')] > when I need a slice of a df
#create a list of indexes
df_misshapen = goodread_df.loc[[3348, 4702, 5877, 8979]]
df_misshapen.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
3348,12224,Streetcar Suburbs: The Process of Growth in Bo...,Sam Bass Warner,Jr./Sam B. Warner,3.58,674842111,9.78E+12,en-US,236,61,6,4/20/04,Harvard University Press
4702,16914,The Tolkien Fan's Medieval Reader,David E. Smith (Turgon of TheOneRing.net,one of the founding members of this Tolkien w...,3.58,1593600119,9.78E+12,eng,400,26,4,4/6/04,Cold Spring Press
5877,22128,Patriots (The Coming Collapse),James Wesley,Rawles,3.63,156384155X,9.78E+12,eng,342,38,4,1/15/99,Huntington House Publishers
8979,34889,Brown's Star Atlas: Showing All The Bright Sta...,Brown,Son & Ferguson,0,851742718,9.78E+12,eng,49,0,0,5/1/77,Brown Son & Ferguson Ltd.

In [15]:
#add the separated author columns together 
df_misshapen['authors_full'] = df_misshapen['authors'] + df_misshapen['average_rating']

#overwrite poorly formatted author column with correct author column 
df_misshapen['authors'] = df_misshapen['authors_full']

#drop unneeded columns
df_misshapen = df_misshapen.drop(['average_rating','authors_full'], axis=1)

In [16]:
df_misshapen.head()

,bookID,title,authors,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
3348,12224,Streetcar Suburbs: The Process of Growth in Bo...,Sam Bass Warner Jr./Sam B. Warner,3.58,674842111,9.78E+12,en-US,236,61,6,4/20/04,Harvard University Press
4702,16914,The Tolkien Fan's Medieval Reader,David E. Smith (Turgon of TheOneRing.net one o...,3.58,1593600119,9.78E+12,eng,400,26,4,4/6/04,Cold Spring Press
5877,22128,Patriots (The Coming Collapse),James Wesley Rawles,3.63,156384155X,9.78E+12,eng,342,38,4,1/15/99,Huntington House Publishers
8979,34889,Brown's Star Atlas: Showing All The Bright Sta...,Brown Son & Ferguson,0,851742718,9.78E+12,eng,49,0,0,5/1/77,Brown Son & Ferguson Ltd.

In [17]:
loop_count = 0

def update_col_names(df, col_list, loop_count):
    for col in df.columns:
        df = df.rename(columns={col: col_list[loop_count]})
        loop_count += 1
    return df

In [18]:
df_reshaped = update_col_names(df_misshapen, col_names, loop_count)

In [19]:
df_reshaped.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
3348,12224,Streetcar Suburbs: The Process of Growth in Bo...,Sam Bass Warner Jr./Sam B. Warner,3.58,674842111,9.78E+12,en-US,236,61,6,4/20/04,Harvard University Press
4702,16914,The Tolkien Fan's Medieval Reader,David E. Smith (Turgon of TheOneRing.net one o...,3.58,1593600119,9.78E+12,eng,400,26,4,4/6/04,Cold Spring Press
5877,22128,Patriots (The Coming Collapse),James Wesley Rawles,3.63,156384155X,9.78E+12,eng,342,38,4,1/15/99,Huntington House Publishers
8979,34889,Brown's Star Atlas: Showing All The Bright Sta...,Brown Son & Ferguson,0,851742718,9.78E+12,eng,49,0,0,5/1/77,Brown Son & Ferguson Ltd.

In [20]:
#overwrite poorly formatted rows with correct formatted rows 
goodread_df.iloc[3348] = df_reshaped.iloc[0]
goodread_df.iloc[4702] = df_reshaped.iloc[1]
goodread_df.iloc[5877] = df_reshaped.iloc[2]
goodread_df.iloc[8979] = df_reshaped.iloc[3]

In [21]:
#check unnamed column
extra_col_sum = goodread_df["Unnamed: 12"].value_counts()
print(extra_col_sum)

Series([], Name: Unnamed: 12, dtype: int64)

In [22]:
#drop empty column
goodread_df = goodread_df.drop(['Unnamed: 12'], axis=1)
col_names[2] = 'author'
col_names = col_names[:-1]
col_names

In [ ]:
goodread_df.head()